.highlight {
	color: #D0D0D0;

	.lineno {
		border-radius: 0px;
		box-shadow: none;
		padding-right: 0;
		padding-left: 0;
	}
	
	.hll {
		background-color: #404040;
	}

	.c {
		color: #999999;
		font-style: italic;
	}

	.err {
		color: #A61717;
		background-color: #E3D2D2;
	}

	.g {
		color: #D0D0D0;
	}

	.k {
		color: #6AB825;
		font-weight: normal;
	}

	.l {
		color: #D0D0D0;
	}

	.n {
		color: #D0D0D0;
	}

	.o {
		color: #D0D0D0;
	}

	.x {
		color: #D0D0D0;
	}

	.p {
		color: #D0D0D0;
	}

	.cm {
		color: #999999;
		font-style: italic;
	}

	.cp {
		color: #CD2828;
		font-weight: normal;
	}

	.c1 {
		color: #999999;
		font-style: italic;
	}

	.cs {
		color: #E50808;
		font-weight: normal;
		background-color: #520000;
	}

	.gd {
		color: #D22323;
	}

	.ge {
		color: #D0D0D0;
		font-style: italic;
	}

	.gr {
		color: #D22323;
	}

	.gh {
		color: #FFFFFF;
		font-weight: normal;
	}

	.gi {
		color: #589819;
	}

	.go {
		color: #CCCCCC;
	}

	.gp {
		color: #AAAAAA;
	}

	.gs {
		color: #D0D0D0;
		font-weight: normal;
	}

	.gu {
		color: #FFFFFF;
		text-decoration: underline;
	}

	.gt {
		color: #D22323;
	}

	.kc {
		color: #6AB825;
		font-weight: normal;
	}

	.kd {
		color: #6AB825;
		font-weight: normal;
	}

	.kn {
		color: #6AB825;
		font-weight: normal;
	}

	.kp {
		color: #6AB825
	}

	.kr {
		color: #6AB825;
		font-weight: normal;
	}

	.kt {
		color: #6AB825;
		font-weight: normal;
	}

	.ld {
		color: #D0D0D0;
	}

	.m {
		color: #3677A9;
	}

	.s {
		color: #9DD5F1;
	}

	.na {
		color: #BBBBBB;
	}

	.nb {
		color: #24909D;
	}

	.nc {
		color: #447FCF;
		text-decoration: underline;
	}

	.no {
		color: #40FFFF;
	}

	.nd {
		color: #FFA500;
	}

	.ni {
		color: #D0D0D0;
	}

	.ne {
		color: #BBBBBB;
	}

	.nf {
		color: #447FCF;
	}

	.nl {
		color: #D0D0D0;
	}

	.nn {
		color: #447FCF;
		text-decoration: underline;
	}

	.nx {
		color: #D0D0D0;
	}

	.py {
		color: #D0D0D0;
	}

	.nt {
		color: #6AB825;
	}

	.nv {
		color: #40FFFF;
	}

	.ow {
		color: #6AB825;
		font-weight: normal;
	}

	.w {
		color: #666666;
	}

	.mf {
		color: #3677A9;
	}

	.mh {
		color: #3677A9;
	}

	.mi {
		color: #3677A9;
	}

	.mo {
		color: #3677A9;
	}

	.sb {
		color: #9DD5F1;
	}

	.sc {
		color: #9DD5F1;
	}

	.sd {
		color: #9DD5F1;
	}

	.s2 {
		color: #9DD5F1;
	}

	.se {
		color: #9DD5F1;
	}

	.sh {
		color: #9DD5F1;
	}

	.si {
		color: #9DD5F1;
	}

	.sx {
		color: #FFA500;
	}

	.sr {
		color: #9DD5F1;
	}

	.s1 {
		color: #9DD5F1;
	}

	.ss {
		color: #9DD5F1;
	}

	.bp {
		color: #24909D;
	}

	.vc {
		color: #40FFFF;
	}

	.vg {
		color: #40FFFF;
	}

	.vi {
		color: #40FFFF;
	}

	.il {
		color: #3677A9;
	}
}