<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
	{% include head.html %}
	<body>
		{% include header.html %}
		<div class="wrapper">
			<section>
				{% if page.title %}
					<div id="title">
						<h1>{{ page.title }}</h1>
						{% if page.subtitle %}<p class="subtitle">{{ page.subtitle }}</p>{% endif %}
						<br /><hr />
					</div>
				{% else %}
					<h1>&nbsp;</h1>
				{% endif %}
				{% for post in site.posts limit:1 %}
					<h2>{{ post.title }}</h2>
					{{ post }}
				{% endfor %}
				{{ content }}
				<span>&copy; 2016 Alex Neises.</span>
			</section>
		</div>
	</body>
</html>